*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    
    
}
.box
{
    position: relative;
    width: 380px;
    height: 420px;
    border-radius: 10px;
    overflow: hidden;
}
.box::before{
    content:'';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#fff);
    animation:animate 6s linear infinite;
    transform-origin: bottom right;
    z-index: -2;
}
.box::after{
    content:'';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#fff);
    animation:animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;
    z-index: -1;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box-form{
    display: flex;
    position: absolute;
    inset: 5px;
    background: #000;
    border-radius: 8px;
    z-index: 10px;
    padding: 50px 50px;
    flex-direction: column;
}